{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit</title>
  <link rel="stylesheet" href="{% static 'fontawesome/CSS/all.CSS' %}">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


  <style>
    .nav-item>a:hover {

      border-bottom: 5px solid white;
      
    }

    .footer-class>ul>li {
      display: inline;
      color: rgb(129, 129, 129);
      margin: 30px;
    }

    .edit-frame {
      border: 1px solid rgb(199, 199, 199);
      width: 70%;
      border-radius: 5px;
      margin: auto;
      margin-top: 29px;
      text-align: center;
    }

    .edit-status-frame {
      margin-top: 70px;
      width: 90%;
      margin: auto;
      margin-top: 100px;
    }




    /* Responsive */
    @media screen and (max-width: 900px) {
      .edit-frame {
        border: 1px solid rgb(199, 199, 199);
        width: 90%;
        border-radius: 5px;
        margin: auto;
        margin-top: 29px;
        text-align: center;
      }

      .edit-status-frame {
        margin-top: 20px;
        width: 90%;
        margin: auto;

      }
       .title{
        font-size:20px;
      }

    }
  </style>
</head>

<body>
  <nav style="position: sticky;top: 0;width: 100%;"class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="background-color: #80bd9e;" class="container-fluid">
      <a style="color: white;background-color: #80bd9e;font-size: 29px;border-radius: 5px;" class="navbar-brand"
        href="/"><span class="title">Qriocity</span></a>
      {% comment %} search {% endcomment %}

      <form method="get" action="/search">
        <input style="background-color: white;border: #80bd9e;border-radius: 11px;width: 199px;"
          class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">


      </form>


      {% comment %} search {% endcomment %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span style="color: white;" class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">

          <li class="nav-item">
            <a style="color: white; margin-left: 100px;" class="nav-link active" aria-current="true" href="/"><i
                class="fas fa-home fa-2x"></i>
              Home</a>
          </li>
          <li class="nav-item">
            <a style="color: white; margin-left: 100px;" class="nav-link" href="{% url 'feed' %}"><i
                class="fas fa-rss fa-2x"></i>
              Feed</a>
          </li>
          <li class="nav-item">
            <a style="color: white; margin-left: 100px;" class="nav-link" href="http://127.0.0.1:8000/chat"><i class="fas fa-envelope fa-2x"></i> Chatroom</a>
          </li>
          <li class="nav-item">
            <a style="color: white; margin-left: 100px;" class="nav-link" href="{% url 'notification' %}"><i
                class="fas fa-bell fa-2x"></i> Notification</a>
          </li>
          {% comment %} <li class="nav-item">
            <a style="color: black;margin-left: 100px;border-bottom:5px solid black;" class="nav-link" href="{% url 'profile' %}"><i
                class="fas fa-user fa-2x"></i> Profile</a>
          </li> {% endcomment %}

          <li class="nav-items">
            <a style="color: white; margin-left: 100px;" class="nav-link" href="{% url 'profile' %}">
              <img style="border-radius:50%;" src="{{ user.profilepic.profile_pic.url }}" width="30" height="30"> {{user.get_full_name }}</a>
          </li>
          <!-- dropdown -->
          <div class="btn-group">
            <button style="border: #80bd9e;background-color: #80bd9e;margin-bottom:10px;" type="button"
              class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a href="{% url 'signout' %}" class="dropdown-item" type="button">Sign out</a></li>
            </ul>
          </div>

          <!-- dropdown -->


        </ul>

      </div>
    </div>
    </div>
  </nav>






  <div style="height: auto;width: 100%;margin: auto;">
    <div class="edit-frame">


      <div class="edit-status-frame">
      {% if user.username == post.post_author %}
        <form method="post" style="width: 100%;">
          {% csrf_token %}

          {{ form }}
          <div style="text-align:center;">
            <button type="submit"
              style="height:29px;color:white;background-color:#80bd9e;border-radius:20px;margin-top:20px;width:90px;border:#80bd9e;">Save</button>

          </div>
        </form>
        {% else %}
        <p>You don't have access to Edit this post.</p>
        {% endif %}
        {% if user.username == post.post_author %}

        <a href="{% url 'delete' post.pk %}"><button
            style="height:29px;color:white;background-color:#80bd9e;border-radius:20px;margin-top:20px;width:90px;border:#80bd9e;">Delete</button></a>
            {% endif %}
      </div>

      <hr style="color: black;">
      <div>


      </div>
      <br>
    </div>
    <br>
    <hr style="width: 90%;color: black;margin: auto;">
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>


</body>
<footer>
  <hr>
  <br>
  <div style="text-align: center;" class="footer-class">
    <ul>
      <li>
        <a>Jobs</a>
      </li>
      <li>
        <a>Help</a>
      </li>
      <li>
        <a>Find US</a>
      </li>
      <li>
        <a>Support</a>
      </li>
      <li>
        <a>Faq</a>
      </li>
      <br>
      <li>
        <a><small>
            <p>Qriocity.com &copy 2021</p>
          </small></a>
      </li>
    </ul>


  </div>
</footer>

</html>