{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome/CSS/all.CSS' %}">
  <link rel="stylesheet" href="{% static 'fontawesome/CSS/all.CSS' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <style>
    .status_scroll {
      overflow: scroll;
    }

    .nav-item>a:hover {

      border-bottom: 5px solid white;
    }
    .footer-class>ul>li{
          display: inline;
          color: rgb(129, 129, 129);
          margin: 30px;
    }
    .profile-frame{
      width: 70%;
      height: auto;
      border: 1px solid #80bd9e;
      margin:auto;
      text-align: center;

    }
    .status-form-frame{
      text-align:center;
      width:80%;
      margin:auto;

    }
    .status-form{
      width:100%;
      margin-top:0px;
      height:90px;
      border-radius:11px;
      border: 1px solid rgb(129, 129, 129);
    }
    .social-network{
      text-align: center;
      color: #80bd9e;
      margin-top: 20px;
      margin-right: 29px;
    }
    .social-link{
      color: #80bd9e;
      margin: 10px;
    }





    /* Responsive */
    @media screen and (max-width: 900px) {
      .profile-frame{
      width: 90%;
      height: auto;
      border: 1px solid #80bd9e;
      margin:auto;
      text-align: center;

    }
    .status-form{
      width:100%;
      margin-top:0px;
      height:70px;
      border-radius:11px;
      border: 1px solid rgb(129, 129, 129);
    }
     .title{
        font-size:20px;
      }

    }
  </style>




</head>


<body>

  <!-- navbar -->
  {% if user.is_authenticated %}
  <nav style="position: sticky;top: 0;width: 100%;"style="position: sticky;top: 0;width: 100%;"class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="background-color: #80bd9e;" class="container-fluid">
      <a style="color: white;background-color: #80bd9e;font-size: 29px;border-radius: 5px;" class="navbar-brand"
        href="/"><span class="title">Qriocity</span></a>
      {% comment %} search {% endcomment %}

      <form method="get" action="/search">
        <input style="background-color: white;border: #80bd9e;border-radius: 11px;width: 199px;"
          class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">


      </form>


      {% comment %} search {% endcomment %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span style="color: white;" class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
          <li class="nav-item">
            <a style="color: white; margin-left: 100px;" class="nav-link active" aria-current="true" href="/"><i
                class="fas fa-home fa-2x"></i> Home</a>
          </li>

          <li class="nav-item">
            <a style="color: white; margin-left: 100px;" class="nav-link" href="{% url 'feed' %}"><i class="fas fa-rss fa-2x"></i>
              Feed</a>
          </li>
          <li class="nav-item">
            <a style="color: white; margin-left: 100px;" class="nav-link" href="http://127.0.0.1:8000/chat"><i class="fas fa-envelope fa-2x"></i> Chatroom</a>
          </li>
          <li class="nav-item">
            <a style="color: white; margin-left: 100px;" class="nav-link" href="{% url 'notification' %}"><i
                class="fas fa-bell fa-2x"></i> Notification</a>
          </li>
          {% comment %} <li class="nav-item">
            <a style="color: black;margin-left: 100px;border-bottom:5px solid black;" class="nav-link"
              href="{% url 'profile' %}"><i class="fas fa-user fa-2x"></i> Profile</a>
          </li> {% endcomment %}
          <li class="nav-items">
            <a style="color: white; margin-left: 100px;" class="nav-link" href="{% url 'profile' %}">
              <img style="border-radius:50%;" src="{{ user.profilepic.profile_pic.url }}"  width="30" height="30"> 
              {{user.get_full_name }}</a>
          </li>
          <!-- dropdown -->
          <div class="btn-group">
            <button style="border: #80bd9e;background-color: #80bd9e;margin-bottom:10px;" type="button"
              class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a href="{% url 'signout' %}" class="dropdown-item" type="button">Sign out</a></li>
            </ul>
          </div>

          <!-- dropdown -->


        </ul>

      </div>
    </div>
  </nav>
  <!-- navbar close -->

  <!-- dsfmlsdfldsflk -->

  <div class="profile-frame">
    <div>
      
      <!-- <img style="border-radius:50%;" src="{{ user.profilepic.profile_pic.url }}" alt="{% static 'user.jpg' %}" width="100" height="100"> -->
      <p><b>User Information</b></p>
      <hr>
   
    </div>
    {% for profile_picture in profile_picture_list %}
      {% if profile_picture.profile_picture_user == post.post_author %}
      <img style="border-radius:50%;" src="{{ profile_picture.user_profile_picture.url }}"  width="100" height="100">
      {% endif %}
{% endfor %}
    <p>Name : {{ post.author_name }}</p>
    <p>Email : {{ post.author_email }}</p>
   

    <div
      style="text-align:left;border-top: 1px solid #80bd9e;border-bottom: 1px solid #80bd9e;width: 100%;height: 170px;margin-top: 29px;">

      <div style="text-align: center;margin-top: 70px;">

       <p>Send message on Telegram <a class="social-link"href="{{ social_media_account.gmail }}"><i style="color:#80bd9e"class="fab fa-telegram-plane fa-3x"></i></p></a>
      </div>


    </div>
    <div class="social-network">
    {% for social_media_account in social_media_account_list %}
   {% if post.post_author == social_media_account.username %}

    
      <ul>
     
        <li>
          <a class="social-link" href="{{ social_media_account.facebook }}"><i class="fab fa-facebook-square fa-3x"></i></a>
          <a class="social-link"href="{{ social_media_account.instagram }}"><i class="fab fa-instagram-square fa-3x"></i></a>
          <a class="social-link"href="{{ social_media_account.twitter }}"><i class="fab fa-twitter-square fa-3x"></i></a>
          <a class="social-link"href="{{ social_media_account.gmail }}"><i class="fas fa-envelope-square fa-3x"></i></a>
          <a class="social-link"href="{{ social_media_account.github }}"><i class="fab fa-github-square fa-3x"></i></a>
        </li>
       
      </ul>
      {% endif %}
      {% endfor %}
    
     
    </div>

  </div>

  <!-- kdnsldjnfvskdvfnkdj -->





  <div class="container-fluid">
    <br>
    <hr style="color: #80bd9e;border: 5px solid black;">

  </div>



  <div style="background-color: white;" class="body-style">

    <div style="background-color: white;" class="status-body">
      <div class="post-box">




        {% comment %} post {% endcomment %}
        {% for post in object_list %}
        {% if user.get_full_name == post.author_name %}

        <div style="border:1px solid rgb(199, 199, 199);width:90%;border-radius:5px;margin:auto;margin-top: 29px;">

          <div style="text-align:left;">
            <p style="color:white;background-color: #80bd9e;" class="card-header"><b>{{ post.author_name}}</b>
              <small><span style="float:right;margin-right: 10px;">
                  {{ post.date }}</span></small>
            </p>



            <p style="color:black;margin:20px;">{{ post.status }}</p>

          </div>
          <hr style="color: black;">

          {% csrf_token %}
          <a href="#"><button
              style="margin-bottom:10px;width: 30%;height:29px;border:black;border-radius:11px;background-color: #80bd9e ; color: white;">Like</button></a>
          <a href="{% url 'comments' post.pk %}"><button
              style="margin-bottom:10px;margin-left:10px;margin-right:10px;width: 30%;height:29px;border:black;border-radius:11px;background-color: #80bd9e ; color: white;">Comment</button></a>
          <a href="{% url 'edit' post.pk %}"><button
              style="margin-bottom:10px;width: 30%;height:29px;border:black;border-radius:11px;background-color: #ededed ;background-color: #80bd9e ; color: white;">Edit</button></a>



        </div>
        <br>
        <hr style="width: 90%;color: black;margin: auto;">
        {% endif %}
        {% endfor %}


        {% comment %} post {% endcomment %}


        <br>
        <br>




      </div>

    </div>
  </div>





  {% else %}

  <div class="container my-5">
    <div class="card text-center">
      <div style="background-color: white;color: #80bd9e;" class="card-header">
        Welcome
      </div>
      <div class="card-body">
        <br>
        <br>
        <br>
        <h5 class="card-title">Share Your Knowledge With Each Other</h5>
        <p class="card-text">Nobody became poor by sharing knowledge</p>
        <br>
        <br>
        <a href="/signin" style="background-color: #80bd9e;color: white;" class="btn btn-primary">Signin or Signup</a>
        <br>
        <br>
        <br>
      </div>

      <div style="background-color: white;color: #80bd9e;" class="card-footer text-muted">

        <footer style="color: #80bd9e;">Confuse? Post Your Question & Get Your Answare</footer>
      </div>
    </div>
  </div>

  {% endif %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>
<footer>
  <hr>
  <br>
  <div style="text-align: center;"class="footer-class">
    <ul>
      <li>
        <a>Jobs</a>
      </li>
      <li>
        <a>Help</a>
      </li>
      <li>
        <a>Find US</a>
      </li>
      <li>
        <a>Support</a>
      </li>
      <li>
        <a>Faq</a>
      </li>
      <br>
      <li>
        <a><small><p>Qriocity.com &copy 2021</p></small></a>
      </li>
    </ul>
   
          
  </div>
</footer>

</html>